body{
	background-color:yellow;
	background-size:cover;
}
/* Header */
	.htopbg { width: 100%; height: 43px; background: #b3b3b3; }
	.hmail { color: #fff; float: left; margin-right: 10px;margin-top: 6px; }
	.hnmbr { color: #fff;margin-top: 6px; }

/* icons */
	.soc-link{float:right; padding: 3px 0;}
	.soc-link li{list-style-type:none; display: inline-block;margin-left: 30px;}
	.soc-link li a { color:#fff; font-size: 15px; height: 30px; width: 30px;line-height:30px;
    vertical-align: middle; text-align: center; }